.Item {
	margin: 0 auto;
}

.Item i {
	color: gainsboro;
	font-size: 2em;
	padding: 10px;
}

.Item h1 {
	color: #40a4c8;
	font-size: 3em;
}

.Item img {
	padding: 20px;
	margin: 0 auto;
}

.Item p {
	color: gainsboro;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	line-height: 1.5em;
}

.Item i,
.Item p,
.Item h2,
.Item h3 {
	color: gainsboro;
}

.Item p,
.Item h1,
.Item h2,
.Item h3 {
	font-family: 'Raleway';
}

.Item h1,
.Item h2,
.Item h3 {
	text-align: center;
}

a.gitLink,
a.gitLink i {
	color: #40a4c8;
}

a.gitLink i {
	font-size: 1.8rem;
}

.built {
	margin: 10px 0;
}

.built h3 {
	padding-bottom: 5px;
}

.built h4 {
	font-size: 1.5em;
	padding-bottom: 40px;
}

.bottomLink,
a.bottomLink {
	margin: 15px 0;
	padding: 15px 0 50px;
	letter-spacing: 0.1em;
}

/* .bottomLink h3 {
  font-family: 'Raleway';
} */

.bottomLink a {
	color: #40a4c8 !important;
}

div.tech-icons {
	text-align: center;
	padding-right: 5px;
}
