.NavigationItem {
  margin: 10px 0;
  color: #232323;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  padding: 15px 0 0;
}

.NavigationItem a {
  color: #232323;
  text-decoration: none;
  font-size: 1.5em;
}

li.NavigationItem {
  text-align: right !important;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}

.NavigationItem a.normal {
  color: gainsboro;
}

@media (min-width: 500px) {
  .NavigationItem {
    color: black;
  }
  .NavigationItem a {
    text-decoration: none;
    font-size: 1em;
  }
}
