@font-face {
	font-family: 'devicons';
	src: url('../../../assets/fonts/devicons.eot?xqxft6');
	src: url('../../../assets/fonts/devicons.eot?#iefixxqxft6') format('embedded-opentype'),
		url('../../../assets/fonts/devicons.woff?xqxft6') format('woff'),
		url('../../../assets/fonts/devicons.ttf?xqxft6') format('truetype'),
		url('../../../assets/fonts/devicons.svg?xqxft6#devicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.Grid img {
	margin: 0 auto;
}

.Grid h1,
h2 {
	font-family: 'Raleway';
	color: #40a4c8;
	letter-spacing: 0.15em;
}

.Grid h1 {
	font-size: 2.5em;
	margin-top: 20px;
	text-align: center;
}

.Grid h2 {
	font-size: 1.5em;
}

.Grid p {
	font-family: 'Raleway';
	color: gainsboro;
	letter-spacing: 0.15em;
	line-height: 1.6em;
	font-size: 1.2em;
}

.Grid span {
	font-size: 5em;
	color: gainsboro;
	font-family: 'devicons';
	line-height: 1.2em;
}

.Grid h3,
.Grid h3 a {
	color: #40a4c8;
	letter-spacing: 0.2em;
	font-family: 'Raleway';
}

.Skills li {
	text-align: center;
	padding: 10px;
}

.Skills i {
	font-size: 4em;
}

.ImageList ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
	color: gainsboro;
}

.row {
	margin: 0;
}

.Learn ul li {
	width: 100% !important;
	font-size: 1.2em;
	letter-spacing: 0.2em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.Know ul li {
	font-size: 1.1em;
	letter-spacing: 0.1em;
	width: 25%;
	padding: 15px;
}

.Learn ul li:last-child p:last-child {
	margin-top: 40px;
	font-size: 0.9em;
}

.Grid .sidebar h3 a,
.Grid .sidebar h3 {
	font-size: 1.1em;
	text-align: center;
}

.Grid .sidebar div {
	height: 180px !important;
}

@media (max-width: 500px) {
	ul {
		padding: 0;
	}
	.ImageList ul li {
		display: inline-block;
		width: 33%;
		font-size: 0.9em;
	}

	.Grid h3,
	.Grid h3 a {
		font-size: 1em;
		margin: 5px 0;
	}
	.Grid .sidebar h3,
	.Grid .sidebar h3 a {
		font-size: 1.1em;
		text-align: center;
		padding: 5px;
	}

	.Grid p {
		font-family: 'Raleway';
		color: gainsboro;
		letter-spacing: 0.15em;
		line-height: 1.6em;
		font-size: 1em;
	}
}
