.Portfolio a,
.Portfolio h3,
.Portfolio h4,
.Portfolio h5 {
	font-family: 'Raleway';
	text-align: center;
}



img.graphql-logo {
  padding-left: 5px !important;
}

.Portfolio h3 {
	font-size: 1.8em;
	padding: 5px 0 0;
}

.Portfolio h4 {
	color: gainsboro;
	letter-spacing: 0.15em;
	margin: 5px 0 10px;
	font-size: 0.9em;
}

.Portfolio h5 {
	margin: 5px 0 15px;
	color: gainsboro;
	font-size: 1.3rem;
}

.Portfolio a {
	color: #40a4c8;
}

.Container {
	padding: 20px 5% 50px;
	margin: 20px 0;
	text-align: center;
}

.Container h1 {
	font-size: 2em;
	color: #40a4c8;
	font-family: 'Raleway';
}

.Container h2 {
	font-size: 1.3em;
	color: gainsboro;
	font-family: 'Raleway';
	padding-bottom: 20px;
}

.Container a {
	color: #40a4c8;
}

.Container h4 {
	font-size: 1.4rem;
	font-family: 'Raleway';
}

.Portfolio i {
	color: gainsboro;
	text-align: center;
	font-size: 30px;
	padding: 10px 6px 0;
	display: inline-flex;
}
